<a href="https://colab.research.google.com/github/2403A51L03/2403A51L03_B51_P_DS/blob/main/Lab_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
import pandas as pd

In [ ]:
students = pd.DataFrame({
    'student_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'class': ['A', 'B', 'A', 'B', 'A']
})

In [ ]:
scores = pd.DataFrame({
    'student_id': [1, 2, 2, 3, 6],
    'subject': ['Math', 'Math', 'Science', 'Math', 'Science'],
    'score': [85, 78, 88, 92, 74]
})

In [ ]:
print("Students Dataset:\n", students, "\n")
print("Scores Dataset:\n", scores, "\n")

Students Dataset:
    student_id     name class
0           1    Alice     A
1           2      Bob     B
2           3  Charlie     A
3           4    David     B
4           5      Eva     A

Scores Dataset:
    student_id  subject  score
0           1     Math     85
1           2     Math     78
2           2  Science     88
3           3     Math     92
4           6  Science     74

In [ ]:
inner_join = pd.merge(students, scores, on='student_id', how='inner')
left_join = pd.merge(students, scores, on='student_id', how='left')
right_join = pd.merge(students, scores, on='student_id', how='right')

In [ ]:
print("Inner Join:\n", inner_join, "\n")
print("Left Join:\n", left_join, "\n")
print("Right Join:\n", right_join, "\n")

Inner Join:
    student_id     name class  subject  score
0           1    Alice     A     Math     85
1           2      Bob     B     Math     78
2           2      Bob     B  Science     88
3           3  Charlie     A     Math     92

Left Join:
    student_id     name class  subject  score
0           1    Alice     A     Math   85.0
1           2      Bob     B     Math   78.0
2           2      Bob     B  Science   88.0
3           3  Charlie     A     Math   92.0
4           4    David     B      NaN    NaN
5           5      Eva     A      NaN    NaN

Right Join:
    student_id     name class  subject  score
0           1    Alice     A     Math     85
1           2      Bob     B     Math     78
2           2      Bob     B  Science     88
3           3  Charlie     A     Math     92
4           6      NaN   NaN  Science     74

In [ ]:
print("Overall Statistics:")
print(inner_join['score'].agg(['mean', 'max', 'min', 'count']), "\n")

Overall Statistics:
mean     85.75
max      92.00
min      78.00
count     4.00
Name: score, dtype: float64

In [ ]:
class_stats = inner_join.groupby('class')['score'].agg(['mean', 'max', 'min', 'count'])
print("Statistics per Class:\n", class_stats, "\n")

Statistics per Class:
        mean  max  min  count
class
A      88.5   92   85      2
B      83.0   88   78      2

In [ ]:
subject_stats = inner_join.groupby('subject')['score'].agg(['mean', 'max', 'min', 'count'])
print("Statistics per Subject:\n", subject_stats)

Statistics per Subject:
          mean  max  min  count
subject
Math     85.0   92   78      3
Science  88.0   88   88      1

2

In [ ]:
customers = pd.read_csv("customers.csv")
sales = pd.read_csv("sales.csv")

In [ ]:
print("Customers Dataset:\n", customers, "\n")
print("Sales Dataset:\n", sales, "\n")

Customers Dataset:
    customer_id     name region
0            1    Alice  North
1            2      Bob  South
2            3  Charlie   East
3            4    David   West

Sales Dataset:
    sale_id  customer_id  amount        date
0      101            1     250  2023-01-10
1      102            2     300  2023-01-12
2      103            2     150  2023-01-15
3      104            3     400  2023-02-01
4      105            5     500  2023-02-05

In [ ]:
inner_merge = pd.merge(customers, sales, on='customer_id', how='inner')
left_merge = pd.merge(customers, sales, on='customer_id', how='left')

In [ ]:
print("Inner Join Result:\n", inner_merge, "\n")
print("Left Join Result:\n", left_merge, "\n")

Inner Join Result:
    customer_id     name region  sale_id  amount        date
0            1    Alice  North      101     250  2023-01-10
1            2      Bob  South      102     300  2023-01-12
2            2      Bob  South      103     150  2023-01-15
3            3  Charlie   East      104     400  2023-02-01

Left Join Result:
    customer_id     name region  sale_id  amount        date
0            1    Alice  North    101.0   250.0  2023-01-10
1            2      Bob  South    102.0   300.0  2023-01-12
2            2      Bob  South    103.0   150.0  2023-01-15
3            3  Charlie   East    104.0   400.0  2023-02-01
4            4    David   West      NaN     NaN         NaN

In [ ]:
print("Overall Sales Statistics:")
print(inner_merge['amount'].agg(['sum', 'mean', 'max', 'min', 'count']), "\n")

Overall Sales Statistics:
sum      1100.0
mean      275.0
max       400.0
min       150.0
count       4.0
Name: amount, dtype: float64

In [ ]:
customer_stats = inner_merge.groupby('name')['amount'].agg(['sum', 'mean', 'count'])
print("Sales per Customer:\n", customer_stats, "\n")

Sales per Customer:
          sum   mean  count
name
Alice    250  250.0      1
Bob      450  225.0      2
Charlie  400  400.0      1

In [ ]:
region_stats = inner_merge.groupby('region')['amount'].agg(['sum', 'mean', 'max', 'min', 'count'])
print("Sales per Region:\n", region_stats)

Sales per Region:
         sum   mean  max  min  count
region
East    400  400.0  400  400      1
North   250  250.0  250  250      1
South   450  225.0  300  150      2