<a href="https://colab.research.google.com/github/2403A51L03/2403A51L03_B51_P_DS/blob/main/Lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1

In [1]:
import pandas as pd

df = pd.read_csv("student_scores.csv")

df.fillna(df.mean(numeric_only=True), inplace=True)

high_achievers = df[(df["Math"] > 75) & (df["Science"] > 75) & (df["English"] > 75)]

print("High Achievers (All subjects > 75):")
print(high_achievers)

High Achievers (All subjects > 75):
   Student_ID     Name   Math  Science  English
0           1    Alice  85.00    90.00    82.00
1           2      Bob  78.75    88.00    76.00
2           3  Charlie  78.00    85.75    80.00
3           4    David  92.00    95.00    75.75

2

In [4]:

patients = pd.read_csv("patients.csv")

patients["Age"] = patients["Age"].fillna(patients["Age"].median())

elderly_females_diabetes = patients[
    (patients["Gender"].str.lower() == "female") &
    (patients["Age"] > 50) &
    (patients["Diagnosis"].str.lower() == "diabetes")
]

print("Elderly Female Patients with Diabetes:")
print(elderly_females_diabetes)

Elderly Female Patients with Diabetes:
   Patient_ID      Name   Age  Gender Diagnosis Admission_Date
0         101      Mary  65.0  Female  Diabetes     2023-01-15
2         103     Linda  60.0  Female  Diabetes     2023-03-05
4         105  Patricia  55.0  Female  Diabetes     2023-05-18