<a href="https://colab.research.google.com/github/2403A51L03/2403A51L03_B51_P_DS/blob/main/Lab_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import numpy as np
import pandas as pd

In [27]:
data={
    'OrderID':[1,2,3,4,5],
    'Product':['TV','Remote','Mobile','Laptop','Fridge'],
    'Quantity':[8,25,17,5,8],
    'Price':[30000,100,25000,100000,35000]
}

df=pd.DataFrame(data)

In [28]:
df['TotalSales']= df['Quantity'] * df['Price']
print(df['TotalSales'])

0    240000
1      2500
2    425000
3    500000
4    280000
Name: TotalSales, dtype: int64

In [29]:
HighSales=df[df['TotalSales']>1000]
print(HighSales)

   OrderID Product  Quantity   Price  TotalSales
0        1      TV         8   30000      240000
1        2  Remote        25     100        2500
2        3  Mobile        17   25000      425000
3        4  Laptop         5  100000      500000
4        5  Fridge         8   35000      280000

In [30]:
MostSold=df.groupby('Product')['Quantity'].sum().sort_values(ascending=False)
MostSoldProduct=MostSold.index[0]
print(MostSoldProduct)

Remote

In [31]:
df['Discount(%)']=np.where(df['TotalSales']>3000,10,5)
print(df)

   OrderID Product  Quantity   Price  TotalSales  Discount(%)
0        1      TV         8   30000      240000           10
1        2  Remote        25     100        2500            5
2        3  Mobile        17   25000      425000           10
3        4  Laptop         5  100000      500000           10
4        5  Fridge         8   35000      280000           10

In [32]:
df.to_excel("Sales.xlsx",index=False)